@font-face {
    font-family: 'opensans_regular';
    src: url('./font/OpenSans-Regular.ttf') format('woff2');
}

@font-face {
    font-family: 'opensans_semibold';
    src: url('./font/OpenSans-SemiBold.ttf') format('woff2');
}


html{
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1200px;
    background: transparent linear-gradient(180deg, #FFFFFF 0%, #E6E6E6 21%, #808080 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}


.Fondo{
  
    position: absolute;
    top: 200px;
    left: 100px;
    width: 1400px;
    height: 800px;
    border: 1px solid #707070;
    opacity: 1;
    background-color: white;
    }

.Barra_lateral_derecha{
  
    position: absolute;
    top: 200px;
    left: 1390px;
    width: 111px;
    height: 801px;
    border-radius: 0px 8px 8px 0px;
    background-color: #212020;
}

.encabezado{
    margin-top: 43px;
    width: 1400px;
    height: 44px;
}

.logo{
    margin-left: 43px;
}

.comprar_tarjeta{
    position: absolute;
    font-family:"opensans_regular";
    font-size: 30px;
    text-decoration: none;
    color: black;
    margin-left: 461px;
  
}

.ver_saldo{
    position: absolute;
    font-family:"opensans_regular";
    font-size: 30px;
    text-decoration: none;
    color: black;
    margin-left: 733px;
  
}

.lupa {
    margin-top: 13px;
    position: absolute;
    margin-left: 884.7px;
}

.carrito {
    margin-top: 10px;
    position: absolute;
    margin-left: 984.67px;
}

.tarjeta{
    margin-left: 359px;
    width: 576px;
    height: 324px;
}


.pie_pagina{
    position: relative;
    margin-top: -20px;
    width: 1400px;
    height: 142px;
    background-color: rgb(255, 255, 255);
}
.tarjeta_metrolinea{
    margin-top: -27px;
    position: relative;
    font-size: 40px;
    font-family:"opensans_semibold";
    margin-left: 301px;
}
.saldo{
    position: relative;
    font-size: 27px;
    font-family:"opensans_semibold";
    margin-left: 483px;
    margin-top: -25px;

}

.saldo2{
    position: relative;
    font-size: 27px;
    font-family:"opensans_semibold";
    margin-left: 539px;

}

.saldo_escogido{
    width: 288px;
    height: 58px;
    border: 1px solid #707070;
    border-radius: 10px;
    opacity: 1;
    text-align: center;
    font-family:"opensans_semibold";
    font-size: 27px;
    color: gray;  
    margin-left: 495px;
    line-height: 0.45;
}

.comprar{
    position: absolute;
    width: 160px;
    height: 114px;
    border-radius: 8px;
    opacity: 1;
    background-color: #D5FF43;
    margin-left: 1080px;
        position: absolute;
        font-family:"opensans_regular";
        text-decoration: none;
        color: black;
        font-size: 26px;
        text-align: center;
        
    
}

.comprarr{
    position: relative;
    font-size: 26px;
    font-family:"opensans_semibold";
    margin-left: 58px;
    text-decoration: none;
    color: black;
}

.logo2{
    margin-top: 29px;
    margin-left: 15px;
}

.linea{
    position: absolute;
    margin-left: 756.75px;
    margin-top: 59.5px;
    width: 84px;
    height: 2px;
}

.flecha_arriba{
    margin-top: 40px;
    margin-left: 42.82px;
}



.valor{
    font-family: "opensans_regular";
    margin-top: 95.29px;
    margin-left:31px ;
    font-size: 20px;
    color: white;
}

.numero1{
    margin-top: 113px;
    margin-left: 27px;
    color: #FFFFFF80;
    font-size: 20px;
    font-family:"opensans_regular";
}
.numero2{
    margin-top: 53px;
    margin-left: 27px;
    color: #FFFFFF80;
    font-size: 20px;
    font-family:"opensans_regular";
}
.numero3{
    margin-top: 53px;
    margin-left: 27px;
    color: #FFFFFF80;
    font-size: 20px;
    font-family:"opensans_regular";
}

.numero1:hover, .numero2:hover, .numero3:hover {
    color: #FFFFFF;
}

.flecha_abajo{
    margin-top: 222px;
    margin-left: 42.82px;
    transform: rotate(-180deg);
}