

.uno{
   text-align: center;
}


table.tabla {
   
   background: #d4ffd4;
  
   width: 25%;
 }
 
 table.tabla tr {
   border: 1px solid #363333;
 }
 
 table.tabla td {
   border: 2px solid #000;
  
  
 }

 .menu {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #d0e7fe;
   padding: 10px 20px;
}

.menu-left {
   flex: 1;
}

.menu-right {
   flex: 1;
   text-align: right;
}