
td{
   border-style:solid  
  
}

.uno{
   text-align: center;
}


table.tabla {
   
   background: #c2c3c2;
   border: 0px;
   border-spacing: 0px;
   padding: 0px;
   margin: 10%;
   width: 25%;
 }
 
 table.tabla tr {
   border: 1px solid #363333;
   /* PARA MARCAR LA SEPARACION LAS CELDAS DE LA TABLA  */
   padding: 0px;
   margin: 0px;
 }
 
 table.tabla td {
   border: 2px solid #000;
   /* PARA MARCAR LA SEPARACION LAS CELDAS DE LA TABLA  */
   height: 100%;
   padding: 0px;
   margin: 0px;
  
 }

 .menu {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #d0e7fe;
   padding: 10px 20px;
}

.menu-left {
   flex: 1;
}

.menu-right {
   flex: 1;
   text-align: right;
}