/* Titulo alineado al centro */
h1 {
    text-align: center;
    color: red;
    background-color: gray;
    border-radius: 20%;
    max-width: 600px;
    margin: auto;
    padding: 10px;
}

form {
    max-width: 600px;
    margin: auto;
    background-color: #333;
    padding: 20px;  /*Separar cosas de los bordes */
    border-radius: 10px;
 }
  

        /*Separar cada una de las cosas dentro del cuadro */
form div {
    margin: 15px;
}


label {
    font-weight: bold;
    color: #ff1100; 
}

input[type="text"],
input[type="email"],
textarea,
select {
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
}




button[type="submit"] {
    display: block;
    margin: auto;
    background-color: #ff1100;
    color: #fff;
    padding: 15px 30px;
    border-radius: 30px; 
}

button[type="submit"]:hover {
    background-color: #770000; 
}


body {
    background: url(images/fondo.jpg); 
    background-size: 200%; 
    background-repeat: no-repeat;
    margin: 0;
    
  }

