/* Titulo alineado al centro */
h1 {
    text-align: center;
}

form {
    max-width: 600px;
    margin: auto;
    background-color: #333;
    padding: 20px;  /*Separar cosas de los bordes */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
  

        /*Separar cada una de las cosas dentro del cuadro */
form div {
    margin: 15px;
}


label {
    font-weight: bold;
    color: #f44336; 
}

input[type="text"],
input[type="email"],
textarea,
select {
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
}




button[type="submit"] {
    display: block;
    margin: auto;
    background-color: #f44336;
    color: #fff;
    padding: 15px 30px;
    border-radius: 30px; 
}

button[type="submit"]:hover {
    background-color: #d32f2f; 
}
